.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 40px;
    background-color: #f1f1f3;
}

.sub-header span {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #767676;
    font-weight: 700;
}

.sub-header a {
    text-decoration: none;
    padding: 10px;
    background-color: #0e0762;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

.form-container .form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
    position: relative
}

.form-container .form-wrapper span#nameAutocomplete {
    position: absolute;
    bottom: 0;
    left: 10px;
    display: flex;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    width: 100%;
    font-size: 12px;
    font-weight: 800;
    height: 40px;
    padding-left: 15px;
    border-radius: 8px;
    color: #0e0762;
    z-index: -1;    
}

.form-container .form-wrapper div {
    display: flex;
    gap: 5px;
}

.form-container .form-wrapper b {
    padding: 8px;
    background-color: #ef9616;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: fit-content;
}

.form-container .form-wrapper.horizontal {
    flex-direction: row;
}

.form-container .form-wrapper.horizontal div {
    display: flex;
    flex-direction: column;
}

.valor-container {
    width: 33%;
}

.diaria-container {
    width: 17%;
}

.data-container {
    width: 50%;
}

.form-container .form-wrapper input {
    height: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 800;
    height: 40px;
    padding-left: 15px;
    border-radius: 8px;
    border: solid 1px #f0f1f7;
    color: #0e0762;
    background-color: transparent;
}

.form-container .form-wrapper input::placeholder {
    color: #0e0762;
    font-weight: 800;
}

.form-container .form-wrapper select {
    appearance: none;
    padding: 10.5px;
    font-weight: 800;
    border-radius: 8px;
    border: solid 1px #f0f1f7;
    padding-left: 15px;
    height: 42px;
    color: #0e0762;
}

.form-container .form-wrapper p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #0e0762;
}

.form-container .form-wrapper.finish {
    padding: 30px 20px;
}

.form-container .form-wrapper.finish button {
    padding: 10px 40px;
    background-color: #0e0762;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: none;
    width: fit-content;
    align-self: flex-end;
}