.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 40px;
    background-color: #f1f1f3;
}

.sub-header span {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #767676;
    font-weight: 700;
}

.sub-header a {
    text-decoration: none;
    padding: 10px;
    background-color: #0e0762;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

.form-container .form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
    position: relative
}

.form-container .form-wrapper div {
    display: flex;
    gap: 5px;
}

.form-container .form-wrapper b {
    padding: 8px;
    background-color: #ef9616;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: fit-content;
}

.form-container .form-wrapper.horizontal {
    flex-direction: row;
}

.form-container .form-wrapper.horizontal div {
    display: flex;
    flex-direction: column;
}

.data-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.content-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    background-color: #0E0762;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    font-family: "Inter";
    font-weight: 200;
}

.entry-el.green {
    background-color: #00B649;
    padding: 30px;
    border-radius: 50%;
}

.entry-el.orange {
    background-color: #EF9616;
    padding: 30px;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.form-container .form-wrapper input, select {
    height: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 800;
    height: 40px;
    padding-left: 15px;
    border-radius: 8px;
    border: solid 1px #f0f1f7;
    color: #0e0762;
    background-color: transparent;
}

.form-container .form-wrapper .vertical-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-container .form-wrapper.finish {
    justify-content: flex-end;
}

.form-container .form-wrapper.finish button#filter {
    padding: 12px;
    background-color: #0e0762;
    border-radius: 7px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: none;
    width: fit-content;
    align-self: flex-end;
}

.form-container .form-wrapper.finish button#clear {
    padding: 5px 10px;
    background-color: #9e5711;
    border-radius: 7px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: none;
    width: fit-content;
    align-self: flex-end;
    display: none;
}

#clientTable, #expenseTable, #paymentTable {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

#expenseTable thead tr, #paymentTable thead tr {
    display: flex;
    justify-content: stretch;
    width: 100vw;
    align-items: center;
    height: 45px;
    color: #767676;
    font-family: 'Inter';
    font-size: 13px;
    background-color: #eff0f6;
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 0;
}

#expenseTable thead tr td:nth-child(1), #expenseTable tbody tr td:nth-child(1) {
    width: 40%; /* Largura da coluna 'Nome' */
    padding-left: 30px;
}

#expenseTable thead tr td:nth-child(2), #expenseTable tbody tr td:nth-child(2) {
    width: 20%; /* Largura da coluna 'Nome' */
}

#expenseTable thead tr td:nth-child(3), #expenseTable tbody tr td:nth-child(3) {
    width: 20%; /* Largura da coluna 'Nome' */
}

#paymentTable thead tr td:nth-child(1), #paymentTable tbody tr td:nth-child(1) {
    width: 20%;
    padding-left: 30px;
}

#paymentTable thead tr td:nth-child(2), #paymentTable tbody tr td:nth-child(2) {
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    max-width: 170px;
}

#paymentTable thead tr td:nth-child(3), #paymentTable tbody tr td:nth-child(3) {
    width: 20%;
    padding-left: 10px;
}

#expenseTable tbody tr, #paymentTable tbody tr{
    display: flex;
    justify-content: stretch;
    width: 100vw;
    align-items: center;
    height: fit-content;
    color: #767676;
    font-family: 'Inter';
    font-size: 13px;
    border-bottom: 1px solid #d5d5d5;
    padding: 5px 0;
}

#expenseTable tbody tr button{
    padding: 5px;
    background-color: transparent;
    border-radius: 7px;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: none;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}

.new-expense-link {
    position: sticky;
    left: 10px;
    bottom: 20px;
    height: fit-content;
    background-color: #0e0762;
    border: none;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    color: #d6d7e3;
    font-family: 'Inter';
    font-size: 13px;
}

.span-info {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 90vw;
    font-family: 'Inter';
    font-size: 13px;
    color: #0E0762;
    padding-bottom: 35px;
}